@page "/"
@rendermode InteractiveServer

<PageTitle>Dopamine UI Preview</PageTitle>

<div class="p-8 space-y-4">
    <h1 class="header">Buttons</h1>
    <h2 class="subheader">Standard</h2>
    <div class="flex -lg:flex-col -lg:space-y-4 lg:space-x-4">
        <DPButton>Button</DPButton>
        <DPButton Style="ButtonStyle.Borderless">Button</DPButton>
        <DPButton Style="ButtonStyle.Light">Button</DPButton>
        <DPButton>
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton IsDisabled="true">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton IsLoading="true">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton Style="ButtonStyle.Primary">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton Style="ButtonStyle.Accent">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton Style="ButtonStyle.Danger">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton Style="ButtonStyle.Destructive">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex space-x-4">
        <DPButton IsFullWidth="true">Button</DPButton>
        <DPButton IsFullWidth="true">Button</DPButton>
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Text Fields</h1>
    <h2 class="subheader">Unlabeled</h2>
    <DPTextField @bind-Value="Text" />
    <h2 class="subheader">Standard</h2>
    <div class="flex xl:space-x-4 -xl:flex-col -xl:space-y-4">
        <DPTextField Label="Normal" @bind-Value="Text" />
        <DPTextField Label="Password" Type="TextFieldType.Password" @bind-Value="Text" />
        <DPTextField Label="Loading" IsLoading="true" @bind-Value="Text" />
        <DPTextField Label="Disabled" IsDisabled="true" @bind-Value="Text" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex xl:space-x-4 -xl:flex-col -xl:space-y-4">
        <DPTextField Label="Normal" IsFullWidth="true" @bind-Value="Text" />
        <DPTextField Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="Text" />
        <DPTextField Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="Text" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Text Areas</h1>
    <h2 class="subheader">Standard</h2>
    <div class="flex xl:space-x-4 -xl:flex-col -xl:space-y-4">
        <DPTextArea Label="Normal" @bind-Value="Text" />
        <DPTextArea Label="Loading" IsLoading="true" @bind-Value="Text" />
        <DPTextArea Label="Disabled" IsDisabled="true" @bind-Value="Text" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="flex xl:space-x-4 -xl:flex-col -xl:space-y-4">
        <DPTextArea Label="Normal" IsFullWidth="true" @bind-Value="Text" />
        <DPTextArea Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="Text" />
        <DPTextArea Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="Text" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Toggle Switches</h1>
    <h2 class="subheader">Unlabeled</h2>
    <div class="flex">
        <DPToggleSwitch @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Automatic</h2>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Normal" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Frameless</h2>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Normal" IsFrameVisible="false" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsFrameVisible="false" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Framed</h2>
    <div class="flex space-x-4">
        <DPToggleSwitch Label="Normal" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="space-y-4">
        <DPToggleSwitch Label="Normal" IsFullWidth="true" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsFullWidth="true" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Checkboxes</h1>
    <h2 class="subheader">Unlabeled</h2>
    <div class="flex">
        <DPCheckBox @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Automatic</h2>
    <div class="flex space-x-4">
        <DPCheckBox Label="Normal" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Frameless</h2>
    <div class="flex space-x-4">
        <DPCheckBox Label="Normal" IsFrameVisible="false" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsFrameVisible="false" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Framed</h2>
    <div class="flex space-x-4">
        <DPCheckBox Label="Normal" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="space-y-4">
        <DPCheckBox Label="Normal" IsFullWidth="true" IsFrameVisible="true" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsFullWidth="true" IsFrameVisible="true" IsDisabled="true" @bind-value="BoolValue" />
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Radio Buttons</h1>
    <h2 class="subheader">Unlabeled</h2>
    <div class="flex space-x-4">
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Value="SampleEnum.Value1" />
            <DPRadioButton Value="SampleEnum.Value2" />
            <DPRadioButton IsDisabled="true" Value="SampleEnum.Value3" />
        </DPRadioGroup>
    </div>
    <h2 class="subheader">Automatic</h2>
    <div class="space-y-4">
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" Value="SampleEnum.Value1" />
            <DPRadioButton Label="Value 2" Value="SampleEnum.Value2" />
            <DPRadioButton Label="Disabled" IsDisabled="true" Value="SampleEnum.Value3" />
        </DPRadioGroup>
    </div>
     <h2 class="subheader">Disabled Group</h2>
    <div class="space-y-4">
        <DPRadioGroup IsDisabled="true" @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" Value="SampleEnum.Value1" />
            <DPRadioButton Label="Value 2" Value="SampleEnum.Value2" />
            <DPRadioButton Label="Disabled" IsDisabled="true" Value="SampleEnum.Value3" />
        </DPRadioGroup>
    </div>
    <h2 class="subheader">Frameless</h2>
    <div class="sm:flex sm:space-x-4 -sm:space-y-4">
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" Value="SampleEnum.Value1" IsFrameVisible="false" />
            <DPRadioButton Label="Value 2" Value="SampleEnum.Value2" IsFrameVisible="false" />
            <DPRadioButton Label="Disabled" IsDisabled="true" Value="SampleEnum.Value3" IsFrameVisible="false" />
        </DPRadioGroup>
    </div>
    <h2 class="subheader">Framed</h2>
    <div class="sm:flex sm:space-x-4 -sm:space-y-4">
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" IsFrameVisible="true" Value="SampleEnum.Value1" />
            <DPRadioButton Label="Value 2" IsFrameVisible="true" Value="SampleEnum.Value2" />
            <DPRadioButton Label="Disabled" IsFrameVisible="true" IsDisabled="true" Value="SampleEnum.Value3" />
        </DPRadioGroup>
    </div>
    <h2 class="subheader">Full Width</h2>
    <div class="space-y-4">
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" Value="SampleEnum.Value1" IsFullWidth="true" />
            <DPRadioButton Label="Value 2" Value="SampleEnum.Value2" IsFullWidth="true" />
            <DPRadioButton Label="Disabled" IsDisabled="true" Value="SampleEnum.Value3" IsFullWidth="true" />
        </DPRadioGroup>
    </div>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Drop Down</h1>
    <h2 class="subheader">Unlabeled</h2>
    <DPDropDown @bind-Value="EnumValue">
        <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
    </DPDropDown>
    <h2 class="subheader">Standard</h2>
    <div class="sm:flex sm:space-x-4 -sm:space-y-4">
        <DPDropDown @bind-Value="EnumValue" Label="@EnumValue.ToString()">
            <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
        </DPDropDown>
        <DPDropDown @bind-Value="EnumValue" Label="Loading" IsLoading="true">
            <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
        </DPDropDown>
        <DPDropDown @bind-Value="EnumValue" Label="Disabled" IsDisabled="true">
            <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
        </DPDropDown>
    </div>
    <h2 class="subheader">Full Width</h2>
    <DPDropDown @bind-Value="EnumValue" Label="@EnumValue.ToString()" IsFullWidth="true">
        <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
    </DPDropDown>
    <DPDropDown @bind-Value="EnumValue" Label="Loading" IsLoading="true" IsFullWidth="true">
        <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
    </DPDropDown>
    <DPDropDown @bind-Value="EnumValue" Label="Disabled" IsDisabled="true" IsFullWidth="true">
        <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
    </DPDropDown>

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Date Picker</h1>
    <h2 class="subheader">Unlabeled</h2>
    <div class="sm:flex sm:space-x-4 -sm:space-y-4">
        <DPDatePicker From="@_from" To="@_to" @bind-Value="DateValue" />
        <DPDatePicker From="@_from" To="@_to" IsLoading="true" @bind-Value="DateValue" />
        <DPDatePicker From="@_from" To="@_to" IsDisabled="true" @bind-Value="DateValue" />
    </div>
    <h2 class="subheader">Standard</h2>
    <div class="lg:flex lg:space-x-4 -lg:space-y-4">
        <DPDatePicker Label="Normal" From="@_from" To="@_to" @bind-Value="DateValue" />
        <DPDatePicker Label="Normal" From="@_from" To="@_to" IsEdited="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Loading" From="@_from" To="@_to" IsLoading="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Loading" From="@_from" To="@_to" IsEdited="true" IsLoading="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Disabled" From="@_from" To="@_to" IsDisabled="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Disabled" From="@_from" To="@_to" IsEdited="true" IsDisabled="true" @bind-Value="DateValue" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <DPDatePicker Label="Normal" From="@_from" To="@_to" IsFullWidth="true" @bind-Value="DateValue" />
    <DPDatePicker Label="Loading" From="@_from" To="@_to" IsFullWidth="true" IsLoading="true" @bind-Value="DateValue" />
    <DPDatePicker Label="Disabled" From="@_from" To="@_to" IsFullWidth="true" IsDisabled="true" @bind-Value="DateValue" />

    <br />
    <DPDivider />
    <br />

    <h1 class="header">Time Picker</h1>
    <h2 class="subheader">Unlabeled</h2>
    <div class="flex space-x-4">
        <DPTimePicker @bind-Value="DateValue" />
        <DPTimePicker IsShowingSeconds="true" @bind-Value="DateValue" />
        <DPTimePicker IsLoading="true" @bind-Value="DateValue" />
        <DPTimePicker IsDisabled="true" @bind-Value="DateValue" />
    </div>
    <h2 class="subheader">Standard</h2>
    <div class="flex space-x-4">
        <DPTimePicker Label="Normal" @bind-Value="DateValue" />
        <DPTimePicker Label="Normal" IsShowingSeconds="true" IsEdited="@BoolValue" @bind-Value="DateValue" />
        <DPTimePicker Label="Loading" IsLoading="true" @bind-Value="DateValue" />
        <DPTimePicker Label="Disabled" IsDisabled="true" @bind-Value="DateValue" />
    </div>
    <h2 class="subheader">Full Width</h2>
    <DPTimePicker Label="Normal" @bind-Value="DateValue" />
    <DPTimePicker Label="Normal" IsShowingSeconds="true" IsFullWidth="true" IsEdited="@BoolValue" @bind-Value="DateValue" />
    <DPTimePicker Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="DateValue" />
    <DPTimePicker Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="DateValue" />


    <br />
    <DPDivider />
    <br />

    <h1 class="header">Breakpoints</h1>
    <div class="flex space-x-4">
        <DPBreakpoint>All Sizes</DPBreakpoint>
        <DPBreakpoint ToSize="ScreenSize.ExtraSmall">0-XS</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.ExtraSmall" ToSize="ScreenSize.ExtraSmall">XS</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.ExtraSmall" ToSize="ScreenSize.Small">XS-S</DPBreakpoint>
        <DPBreakpoint ToSize="ScreenSize.Small">0-S</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Small" ToSize="ScreenSize.Small">S</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Small" ToSize="ScreenSize.Medium">S-M</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Medium" ToSize="ScreenSize.Large">M-L</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Large" ToSize="ScreenSize.Large">L</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Large">L-inf</DPBreakpoint>
    </div>
</div>

@code {
    private readonly DateTimeOffset _from = DateTimeOffset.UtcNow.AddMonths(-3);

    private readonly DateTimeOffset _to = DateTimeOffset.UtcNow.AddMonths(3);

    private string Text { get; set; } = "Hello, world!";

    private bool BoolValue { get; set; } = true;

    private SampleEnum EnumValue { get; set; } = SampleEnum.Value1;

    private DateTimeOffset DateValue { get; set; } = DateTimeOffset.UtcNow;
}
