@page "/"

<DPPage Title="Home">
    <DPHeader>Buttons</DPHeader>
    <DPSubheader>Standard</DPSubheader>
    <DPAdaptiveView RequiredSize="@ScreenSize.Large">
        <DPButton>Button</DPButton>
        <DPButton Style="ButtonStyle.Borderless">Button</DPButton>
        <DPButton Style="ButtonStyle.Light">Button</DPButton>
        <DPButton>
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton IsDisabled="true">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton IsLoading="true">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton Style="ButtonStyle.Primary">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton Style="ButtonStyle.Accent">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton Style="ButtonStyle.Danger">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                            using ChatAIze.DopamineUI.Preview.Models;
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
        <DPButton Style="ButtonStyle.Destructive">
            <div class="flex items-center space-x-3">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0,0,256,256">
                    <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <g transform="scale(8.53333,8.53333)">
                            <path d="M15,3c-3.314,0 -6,2.686 -6,6v1c0,3.314 2.686,6 6,6c3.314,0 6,-2.686 6,-6v-1c0,-3.314 -2.686,-6 -6,-6zM14.99805,19c-4.006,0 -9.146,2.16684 -10.625,4.08984c-0.914,1.189 -0.04392,2.91016 1.45508,2.91016h18.3418c1.499,0 2.36908,-1.72116 1.45508,-2.91016c-1.479,-1.922 -6.62095,-4.08984 -10.62695,-4.08984z"></path>
                        </g>
                    </g>
                </svg>
                <span>Button</span>
            </div>
        </DPButton>
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPButton IsFullWidth="true">Button</DPButton>
        <DPButton IsFullWidth="true">Button</DPButton>
    </DPAdaptiveView>
    <DPSubheader>Rounded</DPSubheader>
    <DPAdaptiveView>
        <DPButton Style="ButtonStyle.Rounded">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0,0,256,256">
                <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                    <g transform="scale(4,4)">
                        <path d="M16,14c-0.512,0 -1.02306,0.19494 -1.41406,0.58594c-0.781,0.781 -0.781,2.04712 0,2.82812l14.58594,14.58594l-14.58594,14.58594c-0.781,0.781 -0.781,2.04713 0,2.82812c0.391,0.391 0.90206,0.58594 1.41406,0.58594c0.512,0 1.02306,-0.19494 1.41406,-0.58594l14.58594,-14.58594l14.58594,14.58594c0.781,0.781 2.04713,0.781 2.82812,0c0.781,-0.781 0.781,-2.04713 0,-2.82812l-14.58594,-14.58594l14.58594,-14.58594c0.781,-0.781 0.781,-2.04712 0,-2.82812c-0.781,-0.781 -2.04713,-0.781 -2.82812,0l-14.58594,14.58594l-14.58594,-14.58594c-0.391,-0.391 -0.90206,-0.58594 -1.41406,-0.58594z"></path>
                    </g>
                </g>
            </svg>
        </DPButton>
        <DPButton Style="ButtonStyle.Rounded" IsLoading="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0,0,256,256">
                <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                    <g transform="scale(4,4)">
                        <path d="M16,14c-0.512,0 -1.02306,0.19494 -1.41406,0.58594c-0.781,0.781 -0.781,2.04712 0,2.82812l14.58594,14.58594l-14.58594,14.58594c-0.781,0.781 -0.781,2.04713 0,2.82812c0.391,0.391 0.90206,0.58594 1.41406,0.58594c0.512,0 1.02306,-0.19494 1.41406,-0.58594l14.58594,-14.58594l14.58594,14.58594c0.781,0.781 2.04713,0.781 2.82812,0c0.781,-0.781 0.781,-2.04713 0,-2.82812l-14.58594,-14.58594l14.58594,-14.58594c0.781,-0.781 0.781,-2.04712 0,-2.82812c-0.781,-0.781 -2.04713,-0.781 -2.82812,0l-14.58594,14.58594l-14.58594,-14.58594c-0.391,-0.391 -0.90206,-0.58594 -1.41406,-0.58594z"></path>
                    </g>
                </g>
            </svg>
        </DPButton>
        <DPButton Style="ButtonStyle.Rounded" IsDisabled="true">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0,0,256,256">
                <g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                    <g transform="scale(4,4)">
                        <path d="M16,14c-0.512,0 -1.02306,0.19494 -1.41406,0.58594c-0.781,0.781 -0.781,2.04712 0,2.82812l14.58594,14.58594l-14.58594,14.58594c-0.781,0.781 -0.781,2.04713 0,2.82812c0.391,0.391 0.90206,0.58594 1.41406,0.58594c0.512,0 1.02306,-0.19494 1.41406,-0.58594l14.58594,-14.58594l14.58594,14.58594c0.781,0.781 2.04713,0.781 2.82812,0c0.781,-0.781 0.781,-2.04713 0,-2.82812l-14.58594,-14.58594l14.58594,-14.58594c0.781,-0.781 0.781,-2.04712 0,-2.82812c-0.781,-0.781 -2.04713,-0.781 -2.82812,0l-14.58594,14.58594l-14.58594,-14.58594c-0.391,-0.391 -0.90206,-0.58594 -1.41406,-0.58594z"></path>
                    </g>
                </g>
            </svg>
        </DPButton>
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Text Fields</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPTextField @bind-Value="Text" />
    <DPSubheader>Standard</DPSubheader>
    <DPAdaptiveView>
        <DPTextField Label="Normal" @bind-Value="Text" />
        <DPTextField Label="Password" Type="TextFieldType.Password" @bind-Value="Text" />
        <DPTextField Label="Loading" IsLoading="true" @bind-Value="Text" />
        <DPTextField Label="Disabled" IsDisabled="true" @bind-Value="Text" />
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPTextField Label="Normal" IsFullWidth="true" @bind-Value="Text" />
        <DPTextField Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="Text" />
        <DPTextField Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="Text" />
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Text Areas</DPHeader>
    <DPSubheader>Standard</DPSubheader>
    <DPAdaptiveView RequiredSize="@ScreenSize.ExtraExtraLarge">
        <DPTextArea Label="Normal" @bind-Value="Text" />
        <DPTextArea Label="Loading" IsLoading="true" @bind-Value="Text" />
        <DPTextArea Label="Disabled" IsDisabled="true" @bind-Value="Text" />
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPTextArea Label="Normal" IsFullWidth="true" @bind-Value="Text" />
        <DPTextArea Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="Text" />
        <DPTextArea Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="Text" />
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Toggle Buttons</DPHeader>
    <DPSubheader>Standard</DPSubheader>
    <DPAdaptiveView>
        <DPToggleButton @bind-Value="BoolValue">Normal</DPToggleButton>
        <DPToggleButton IsLoading="true" @bind-Value="BoolValue">Loading</DPToggleButton>
        <DPToggleButton IsDisabled="true" @bind-Value="BoolValue">Disabled</DPToggleButton>
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPToggleButton IsFullWidth="true" @bind-Value="BoolValue">Normal</DPToggleButton>
    <DPToggleButton IsFullWidth="true" IsLoading="true" @bind-Value="BoolValue">Loading</DPToggleButton>
    <DPToggleButton IsFullWidth="true" IsDisabled="true" @bind-Value="BoolValue">Disabled</DPToggleButton>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Toggle Switches</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPToggleSwitch @bind-value="BoolValue" />
    <DPSubheader>Automatic</DPSubheader>
    <DPAdaptiveView>
        <DPToggleSwitch Label="Normal" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsDisabled="true" @bind-value="BoolValue" />
    </DPAdaptiveView>
    <DPSubheader>Borderless</DPSubheader>
    <DPAdaptiveView>
        <DPToggleSwitch Label="Normal" IsBorderless="true" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsBorderless="true" IsDisabled="true" @bind-value="BoolValue" />
    </DPAdaptiveView>
    <DPSubheader>Bordered</DPSubheader>
    <DPAdaptiveView>
        <DPToggleSwitch Label="Normal" IsBorderless="false" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsBorderless="false" IsDisabled="true" @bind-value="BoolValue" />
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPToggleSwitch Label="Normal" IsFullWidth="true" IsBorderless="false" @bind-value="BoolValue" />
        <DPToggleSwitch Label="Disabled" IsFullWidth="true" IsBorderless="false" IsDisabled="true" @bind-value="BoolValue" />
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Checkboxes</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPCheckBox @bind-value="BoolValue" />
    <DPSubheader>Automatic</DPSubheader>
    <DPAdaptiveView>
        <DPCheckBox Label="Normal" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsDisabled="true" @bind-value="BoolValue" />
    </DPAdaptiveView>
    <DPSubheader>Borderless</DPSubheader>
    <DPAdaptiveView>
        <DPCheckBox Label="Normal" IsBorderless="true" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsBorderless="true" IsDisabled="true" @bind-value="BoolValue" />
    </DPAdaptiveView>
    <DPSubheader>Bordered</DPSubheader>
    <DPAdaptiveView>
        <DPCheckBox Label="Normal" IsBorderless="false" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsBorderless="false" IsDisabled="true" @bind-value="BoolValue" />
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPCheckBox Label="Normal" IsFullWidth="true" IsBorderless="false" @bind-value="BoolValue" />
        <DPCheckBox Label="Disabled" IsFullWidth="true" IsBorderless="false" IsDisabled="true" @bind-value="BoolValue" />
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Radio Buttons</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPAdaptiveView>
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Value="SampleEnum.Value1" />
            <DPRadioButton Value="SampleEnum.Value2" />
            <DPRadioButton IsDisabled="true" Value="SampleEnum.Value3" />
        </DPRadioGroup>
    </DPAdaptiveView>
    <DPSubheader>Automatic</DPSubheader>
    <DPAdaptiveView>
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" Value="SampleEnum.Value1" />
            <DPRadioButton Label="Value 2" Value="SampleEnum.Value2" />
            <DPRadioButton Label="Disabled" IsDisabled="true" Value="SampleEnum.Value3" />
        </DPRadioGroup>
    </DPAdaptiveView>
    <DPSubheader>Disabled Group</DPSubheader>
    <DPAdaptiveView>
        <DPRadioGroup IsDisabled="true" @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" Value="SampleEnum.Value1" />
            <DPRadioButton Label="Value 2" Value="SampleEnum.Value2" />
            <DPRadioButton Label="Disabled" IsDisabled="true" Value="SampleEnum.Value3" />
        </DPRadioGroup>
    </DPAdaptiveView>
    <DPSubheader>Borderless</DPSubheader>
    <DPAdaptiveView>
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" Value="SampleEnum.Value1" IsBorderless="true" />
            <DPRadioButton Label="Value 2" Value="SampleEnum.Value2" IsBorderless="true" />
            <DPRadioButton Label="Disabled" IsDisabled="true" Value="SampleEnum.Value3" IsBorderless="true" />
        </DPRadioGroup>
    </DPAdaptiveView>
    <DPSubheader>Bordered</DPSubheader>
    <DPAdaptiveView>
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" IsBorderless="false" Value="SampleEnum.Value1" />
            <DPRadioButton Label="Value 2" IsBorderless="false" Value="SampleEnum.Value2" />
            <DPRadioButton Label="Disabled" IsBorderless="false" IsDisabled="true" Value="SampleEnum.Value3" />
        </DPRadioGroup>
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPRadioGroup @bind-Value="EnumValue">
            <DPRadioButton Label="Value 1" Value="SampleEnum.Value1" IsBorderless="false" IsFullWidth="true" />
            <DPRadioButton Label="Value 2" Value="SampleEnum.Value2" IsBorderless="false" IsFullWidth="true" />
            <DPRadioButton Label="Disabled" IsDisabled="true" Value="SampleEnum.Value3" IsBorderless="false" IsFullWidth="true" />
        </DPRadioGroup>
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Drop Down</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPDropDown @bind-Value="EnumValue">
        <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value2" IsDisabled="true">Value 2</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
    </DPDropDown>
    <DPSubheader>Standard</DPSubheader>
    <DPAdaptiveView>
        <DPDropDown @bind-Value="EnumValue" Label="@EnumValue.ToString()">
            <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
        </DPDropDown>
        <DPDropDown @bind-Value="EnumValue" Label="Loading" IsLoading="true">
            <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
        </DPDropDown>
        <DPDropDown @bind-Value="EnumValue" Label="Disabled" IsDisabled="true">
            <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
            <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
        </DPDropDown>
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPDropDown @bind-Value="EnumValue" Label="@EnumValue.ToString()" IsFullWidth="true">
        <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
    </DPDropDown>
    <DPDropDown @bind-Value="EnumValue" Label="Loading" IsLoading="true" IsFullWidth="true">
        <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
    </DPDropDown>
    <DPDropDown @bind-Value="EnumValue" Label="Disabled" IsDisabled="true" IsFullWidth="true">
        <DPDropDownItem Value="SampleEnum.Value1">Value 1</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value2">Value 2</DPDropDownItem>
        <DPDropDownItem Value="SampleEnum.Value3">Value 3</DPDropDownItem>
    </DPDropDown>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Date Picker</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPAdaptiveView>
        <DPDatePicker From="@_from" To="@_to" @bind-Value="DateValue" />
        <DPDatePicker From="@_from" To="@_to" IsLoading="true" @bind-Value="DateValue" />
        <DPDatePicker From="@_from" To="@_to" IsDisabled="true" @bind-Value="DateValue" />
    </DPAdaptiveView>
    <DPSubheader>Standard</DPSubheader>
    <DPAdaptiveView>
        <DPDatePicker Label="Normal" From="@_from" To="@_to" @bind-Value="DateValue" />
        <DPDatePicker Label="Normal" From="@_from" To="@_to" IsEdited="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Loading" From="@_from" To="@_to" IsLoading="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Loading" From="@_from" To="@_to" IsEdited="true" IsLoading="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Disabled" From="@_from" To="@_to" IsDisabled="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Disabled" From="@_from" To="@_to" IsEdited="true" IsDisabled="true" @bind-Value="DateValue" />
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPDatePicker Label="Normal" From="@_from" To="@_to" IsFullWidth="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Loading" From="@_from" To="@_to" IsFullWidth="true" IsLoading="true" @bind-Value="DateValue" />
        <DPDatePicker Label="Disabled" From="@_from" To="@_to" IsFullWidth="true" IsDisabled="true" @bind-Value="DateValue" />
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Time Picker</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPAdaptiveView>
        <DPTimePicker @bind-Value="DateValue" />
        <DPTimePicker IsShowingSeconds="true" @bind-Value="DateValue" />
        <DPTimePicker IsLoading="true" @bind-Value="DateValue" />
        <DPTimePicker IsDisabled="true" @bind-Value="DateValue" />
    </DPAdaptiveView>
    <DPSubheader>Standard</DPSubheader>
    <DPAdaptiveView>
        <DPTimePicker Label="Normal" @bind-Value="DateValue" />
        <DPTimePicker Label="Normal" IsShowingSeconds="true" IsEdited="@BoolValue" @bind-Value="DateValue" />
        <DPTimePicker Label="Loading" IsLoading="true" @bind-Value="DateValue" />
        <DPTimePicker Label="Disabled" IsDisabled="true" @bind-Value="DateValue" />
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPTimePicker Label="Normal" IsFullWidth="true" @bind-Value="DateValue" />
        <DPTimePicker Label="Normal" IsShowingSeconds="true" IsFullWidth="true" IsEdited="@BoolValue" @bind-Value="DateValue" />
        <DPTimePicker Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="DateValue" />
        <DPTimePicker Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="DateValue" />
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Stepper</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPStepper @bind-Value="IntValue" />
    <DPSubheader>Standard</DPSubheader>
    <DPAdaptiveView>
        <DPStepper Label="Normal" @bind-Value="IntValue" />
        <DPStepper Label="Loading" IsLoading="true" @bind-Value="IntValue" />
        <DPStepper Label="Disabled" IsDisabled="true" @bind-Value="IntValue" />
    </DPAdaptiveView>
    <DPSubheader>Full Width</DPSubheader>
    <DPAdaptiveView>
        <DPStepper Label="Normal" IsFullWidth="true" @bind-Value="IntValue" />
        <DPStepper Label="Loading" IsFullWidth="true" IsLoading="true" @bind-Value="IntValue" />
        <DPStepper Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="IntValue" />
    </DPAdaptiveView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Progress Bar</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPProgressBar Value="@IntValue" />
    <DPSubheader>Automatic</DPSubheader>
    <DPProgressBar Label="Normal" Value="@IntValue" />
    <DPProgressBar Label="Normal" Value="@IntValue" IsShowingValue="true" />
    <DPProgressBar Label="Normal" Value="@IntValue" IsShowingPercentage="true" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsDisabled="true" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsShowingValue="true" IsDisabled="true" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsShowingPercentage="true" IsDisabled="true" />
    <DPSubheader>Standard Width</DPSubheader>
    <DPProgressBar Label="Normal" Value="@IntValue" IsFullWidth="false" />
    <DPProgressBar Label="Normal" Value="@IntValue" IsShowingValue="true" IsFullWidth="false" />
    <DPProgressBar Label="Normal" Value="@IntValue" IsShowingPercentage="true" IsFullWidth="false" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsFullWidth="false" IsDisabled="true" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsShowingValue="true" IsFullWidth="false" IsDisabled="true" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsShowingPercentage="true" IsFullWidth="false" IsDisabled="true" />
    <DPSubheader>Full Width</DPSubheader>
    <DPProgressBar Label="Normal" Value="@IntValue" IsFullWidth="true" />
    <DPProgressBar Label="Normal" Value="@IntValue" IsShowingValue="true" IsFullWidth="true" />
    <DPProgressBar Label="Normal" Value="@IntValue" IsShowingPercentage="true" IsFullWidth="true" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsFullWidth="true" IsDisabled="true" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsShowingValue="true" IsFullWidth="true" IsDisabled="true" />
    <DPProgressBar Label="Disabled" Value="@IntValue" IsShowingPercentage="true" IsFullWidth="true" IsDisabled="true" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Loading Indicator</DPHeader>
    <DPSubheader>Small</DPSubheader>
    <DPLoadingIndicator />
    <DPSubheader>Medium</DPSubheader>
    <DPLoadingIndicator Size="@LoadingIndicatorSize.Medium" />
    <DPSubheader>Large</DPSubheader>
    <DPLoadingIndicator Size="@LoadingIndicatorSize.Large" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Spoiler</DPHeader>
    <DPSubheader>Standard</DPSubheader>
    <DPSpoiler Label="Normal">
        <p>@PlaceholderText</p>
    </DPSpoiler>
    <DPSpoiler Label="Loading" IsLoading="true">
        <p>@PlaceholderText</p>
    </DPSpoiler>
    <DPSpoiler Label="Disabled" IsDisabled="true">
        <p>@PlaceholderText</p>
    </DPSpoiler>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Card</DPHeader>
    <DPSubheader>Standard</DPSubheader>
    <DPCard Label="Card 1" IsBottomPaddingExtended="true">
        <DPParagraph>
            <span class="flex w-64">@PlaceholderText</span>
        </DPParagraph>
        <DPButton>Button</DPButton>
    </DPCard>
    <DPSubheader>Full Width</DPSubheader>
    <DPCard IsBottomPaddingExtended="true" IsFullWidth="true">
        <DPParagraph>@PlaceholderText</DPParagraph>
        <DPButton>Button</DPButton>
    </DPCard>
    <DPSubheader>Loading</DPSubheader>
    <DPCard IsBottomPaddingExtended="true" IsLoading="@BoolValue">
        <DPParagraph>@PlaceholderText</DPParagraph>
        <DPButton>Button</DPButton>
    </DPCard>
    <DPSubheader>Disabled</DPSubheader>
    <DPCard Label="Card 4" IsBottomPaddingExtended="true" IsDisabled="@BoolValue">
        <DPHeader>Card 4</DPHeader>
        <DPParagraph>@PlaceholderText</DPParagraph>
        <DPButton>Button</DPButton>
        <p>abc</p>
    </DPCard>
    <DPToggleSwitch Label="Loading" @bind-value="BoolValue" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Menu</DPHeader>
    <DPSubheader>Standard</DPSubheader>
    <DPToggleButton @bind-Value="BoolValue">Menu</DPToggleButton>
    <DPMenu @bind-IsOpen="@BoolValue">
        <DPMenuItem>Item 1</DPMenuItem>
        <DPMenuItem IsDisabled="true">Item 2</DPMenuItem>
        <DPMenuItem>Item 3</DPMenuItem>
    </DPMenu>
    <DPThreeDots>
        <DPMenuItem>Item 1</DPMenuItem>
        <DPMenuItem IsDisabled="true">Item 2</DPMenuItem>
        <DPMenuItem>Item 3</DPMenuItem>
    </DPThreeDots>
    <DPThreeDots IsDisabled="true">
        <DPMenuItem>Item 1</DPMenuItem>
        <DPMenuItem IsDisabled="true">Item 2</DPMenuItem>
        <DPMenuItem>Item 3</DPMenuItem>
    </DPThreeDots>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Inline Picker</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPInlinePicker @bind-Value="EnumValue">
        <DPPickerItem Value="SampleEnum.Value1">Value 1</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value2">Value 2</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value3">Value 3</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value4" IsDisabled="true">Value 4</DPPickerItem>
    </DPInlinePicker>
    <DPSubheader>Standard</DPSubheader>
    <DPInlinePicker Label="Normal" @bind-Value="EnumValue">
        <DPPickerItem Value="SampleEnum.Value1">Value 1</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value2">Value 2</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value3">Value 3</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value4" IsDisabled="true">Value 4</DPPickerItem>
    </DPInlinePicker>
    <DPInlinePicker Label="Disabled" IsDisabled="true" @bind-Value="EnumValue">
        <DPPickerItem Value="SampleEnum.Value1">Value 1</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value2">Value 2</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value3">Value 3</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value4" IsDisabled="true">Value 4</DPPickerItem>
    </DPInlinePicker>
    <DPSubheader>Full Width</DPSubheader>
    <DPInlinePicker Label="Normal" IsFullWidth="true" @bind-Value="EnumValue">
        <DPPickerItem Value="SampleEnum.Value1">Value 1</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value2">Value 2</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value3">Value 3</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value4" IsDisabled="true">Value 4</DPPickerItem>
    </DPInlinePicker>
    <DPInlinePicker Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="EnumValue">
        <DPPickerItem Value="SampleEnum.Value1">Value 1</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value2">Value 2</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value3">Value 3</DPPickerItem>
        <DPPickerItem Value="SampleEnum.Value4" IsDisabled="true">Value 4</DPPickerItem>
    </DPInlinePicker>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Tab View</DPHeader>
    <DPSubheader>Standard</DPSubheader>
    <DPTabView>
        <DPTab Label="Tab 1">
            <DPParagraph>@PlaceholderText.ToUpper()</DPParagraph>
        </DPTab>
        <DPTab Label="Tab 2">
            <DPParagraph>@PlaceholderText.ToLower()</DPParagraph>
        </DPTab>
        <DPTab Label="Tab 3">
            <DPParagraph>ABC</DPParagraph>
        </DPTab>
    </DPTabView>
    <DPSubheader>Full Width</DPSubheader>
    <DPTabView IsFullWidth="true">
        <DPTab Label="Tab 1">
            <DPParagraph>@PlaceholderText.ToUpper()</DPParagraph>
        </DPTab>
        <DPTab Label="Tab 2">
            <DPParagraph>@PlaceholderText.ToLower()</DPParagraph>
        </DPTab>
        <DPTab Label="Tab 3">
            <DPParagraph>ABC</DPParagraph>
        </DPTab>
    </DPTabView>
    <DPSubheader>Disabled</DPSubheader>
    <DPTabView IsDisabled="true">
        <DPTab Label="Tab 1">
            <DPParagraph>@PlaceholderText.ToUpper()</DPParagraph>
        </DPTab>
        <DPTab Label="Tab 2">
            <DPParagraph>@PlaceholderText.ToLower()</DPParagraph>
        </DPTab>
        <DPTab Label="Tab 3">
            <DPParagraph>ABC</DPParagraph>
        </DPTab>
    </DPTabView>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Color Picker</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPColorPicker @bind-Value="ColorValue" />
    <DPSubheader>Standard</DPSubheader>
    <DPColorPicker Label="Normal" @bind-Value="ColorValue" />
    <DPColorPicker Label="Disabled" IsDisabled="true" @bind-Value="ColorValue" />
    <DPSubheader>Full Width</DPSubheader>
    <DPColorPicker Label="Normal" IsFullWidth="true" @bind-Value="ColorValue" />
    <DPColorPicker Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="ColorValue" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Overlay</DPHeader>
    <DPOverlay IsShown="@IsOverlayShown">
        <DPToggleSwitch Label="Show Overlay" @bind-Value="IsOverlayShown" />
    </DPOverlay>
    <DPToggleSwitch Label="Show Overlay" @bind-Value="IsOverlayShown" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Loading Screen</DPHeader>
    <DPLoadingScreen IsShown="@IsLoadingScreenShown" />
    <DPButton Clicked="ShowLoadingScreenAsync">Show Loading Screen</DPButton>

    <br />
    <DPDivider />
    <br />

    <DPHeader>Dialog</DPHeader>
    <DPDialog IsShown="@IsDialogShown">
        <div class="space-y-8">
            <div class="space-y-4">
                <DPHeader>Delete Account</DPHeader>
                <DPParagraph>
                    Are you sure you want to delete your account?
                    <br />
                    This is permanent and cannot be undone.
                </DPParagraph>
            </div>
            <DPAdaptiveView>
                <DPButton Style="ButtonStyle.Destructive">Delete Account</DPButton>
                <DPButton Clicked="() => IsDialogShown = false">Cancel</DPButton>
            </DPAdaptiveView>
        </div>
    </DPDialog>
    <DPToggleSwitch Label="Show Dialog" @bind-Value="IsDialogShown" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Table</DPHeader>
    <DPTable Column1="Name" Column2="Price" Column3="Quantity" Data="@SampleData" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Slider</DPHeader>
    <DPSubheader>Unlabeled</DPSubheader>
    <DPSlider @bind-Value="IntValue" />
    <DPSubheader>Standard</DPSubheader>
    <DPSlider Label="Normal" IsShowingValue="true" @bind-Value="IntValue" />
    <DPSlider Label="Disabled" IsShowingPercentage="true" IsDisabled="true" @bind-Value="IntValue" />
    <DPSubheader>Full Width</DPSubheader>
    <DPSlider Label="Normal" IsFullWidth="true" @bind-Value="IntValue" />
    <DPSlider Label="Disabled" IsFullWidth="true" IsDisabled="true" @bind-Value="IntValue" />
    <DPSubheader>Decimal</DPSubheader>
    <DPDecimalSlider Label="Normal" Step="0.5" IsShowingValue="true" @bind-Value="DoubleValue" />
    <DPDecimalSlider Label="Disabled" Step="0.5" IsShowingPercentage="true" IsDisabled="true" @bind-Value="DoubleValue" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Save Prompt</DPHeader>
    <DPToggleSwitch Label="Show Save Prompt" @bind-Value="IsSavePromptShown" />
    <DPSavePrompt IsShown="@IsSavePromptShown" IsSavePending="@IsSavePending" SaveClicked="SimulateSaveAsync" />

    <br />
    <DPDivider />
    <br />

    <DPHeader>Breakpoints</DPHeader>
    <DPAdaptiveView>
        <DPBreakpoint>All Sizes</DPBreakpoint>
        <DPBreakpoint ToSize="ScreenSize.ExtraSmall">0-XS</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.ExtraSmall" ToSize="ScreenSize.ExtraSmall">XS</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.ExtraSmall" ToSize="ScreenSize.Small">XS-S</DPBreakpoint>
        <DPBreakpoint ToSize="ScreenSize.Small">0-S</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Small" ToSize="ScreenSize.Small">S</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Small" ToSize="ScreenSize.Medium">S-M</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Medium" ToSize="ScreenSize.Large">M-L</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Large" ToSize="ScreenSize.Large">L</DPBreakpoint>
        <DPBreakpoint FromSize="ScreenSize.Large">L-inf</DPBreakpoint>
    </DPAdaptiveView>
</DPPage>

@code {
    private const string PlaceholderText = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";

    private readonly DateTimeOffset _from = DateTimeOffset.UtcNow.AddMonths(-3);

    private readonly DateTimeOffset _to = DateTimeOffset.UtcNow.AddMonths(3);

    private bool IsOverlayShown { get; set; }

    private bool IsLoadingScreenShown { get; set; }

    private bool IsDialogShown { get; set; }

    private bool IsSavePromptShown { get; set; }

    private string Text { get; set; } = "Hello, world!";

    private bool BoolValue { get; set; } = true;

    private bool IsSavePending { get; set; }

    private int IntValue { get; set; }

    private double DoubleValue { get; set; }

    private DPColor ColorValue { get; set; } = DPColor.Red;

    private SampleEnum EnumValue { get; set; } = SampleEnum.Value1;

    private DateTimeOffset DateValue { get; set; } = DateTimeOffset.UtcNow;

    private List<StoreItem> SampleData = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SampleData.Add(new StoreItem("Apple", "$1", 10));
        SampleData.Add(new StoreItem("Banana", "$2", 20));
        SampleData.Add(new StoreItem("Cherry", "$3", 30));
    }

    private async Task ShowLoadingScreenAsync()
    {
        IsLoadingScreenShown = true;
        await Task.Delay(3000);
        IsLoadingScreenShown = false;
    }

    private async Task SimulateSaveAsync()
    {
        IsSavePending = true;
        await Task.Delay(3000);
        IsSavePending = false;
        IsSavePromptShown = false;
    }
}
