@if (FromClass == null)
{
    if (ToClass == null)
    {
        <div class="relative block">@ChildContent</div>
    }
    else
    {
        <div class="relative block @(ToClass):hidden">@ChildContent</div>
    }
}
else
{
    if (ToClass == null)
    {
        <div class="relative hidden @(FromClass):block">@ChildContent</div>
    }
    else
    {
        <div class="relative hidden @(FromClass):block @(ToClass):hidden">@ChildContent</div>
    }
}

@code {
    [Parameter]
    public ScreenSize? FromSize { get; set; }

    [Parameter]
    public ScreenSize? ToSize { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public object? Tag { get; set; }

    private string? FromClass => ScreenSizeToClass(FromSize);

    private string? ToClass => ScreenSizeToClass(NextScreenSize(ToSize));

    private static string? ScreenSizeToClass(ScreenSize? screenSize)
    {
        return screenSize switch
        {
            ScreenSize.Small => "sm",
            ScreenSize.Medium => "md",
            ScreenSize.Large => "lg",
            ScreenSize.ExtraLarge => "xl",
            ScreenSize.ExtraExtraLarge => "2xl",
            _ => null
        };
    }

    private static ScreenSize? NextScreenSize(ScreenSize? screenSize)
    {
        return screenSize switch
        {
            ScreenSize.ExtraSmall => ScreenSize.Small,
            ScreenSize.Small => ScreenSize.Medium,
            ScreenSize.Medium => ScreenSize.Large,
            ScreenSize.Large => ScreenSize.ExtraLarge,
            ScreenSize.ExtraLarge => ScreenSize.ExtraExtraLarge,
            _ => null
        };
    }
}
