<div class="space-y-3 @WidthClass">
    <label for="@_id" class="group/checkbox @LabelClass @BorderClass @WidthClass">
        <input id="@_id" type="checkbox" disabled="@Context.IsDisabled" hidden @bind="InternalValue" @bind:after="InvokeValueChangedAsync" />
        <div class="@SquareClass">
            <svg class="sm:hidden" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 30 30">
                <path d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"></path>
            </svg>
            <svg class="-sm:hidden" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 30 30">
                <path d="M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z"></path>
            </svg>
        </div>
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <span>@Label</span>
        }
    </label>
    @if (!string.IsNullOrWhiteSpace(Caption))
    {
        <div class="@CaptionClass">@Caption</div>
    }
</div>

@code {
    private readonly string _id = Random.Shared.Next().ToString();

    [CascadingParameter]
    public UIContext ParentContext { get; set; } = new();

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public string? Caption { get; set; }

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public bool? IsBorderless { get; set; }

    [Parameter]
    public bool? IsFullWidth { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public object? Tag { get; set; }

    private UIContext Context => ParentContext with { IsDisabled = ParentContext.IsDisabled || IsDisabled };

    private bool InternalValue
    {
        get => Value;
        set
        {
            if (!Context.IsDisabled && Value != value)
            {
                Value = value;
            }
        }
    }

    private string LabelClass => Context.IsDisabled ? "dp-checkbox-disabled" : "dp-checkbox";

    private string BorderClass
    {
        get
        {
            if (IsBorderless == false)
            {
                return Context.IsDisabled ? "dp-border-disabled" : "dp-border";
            }

            if (IsBorderless == true || string.IsNullOrWhiteSpace(Label))
            {
                return string.Empty;
            }

            return Context.IsDisabled ? "-sm:dp-border-disabled" : "-sm:dp-border";
        }
    }

    private string SquareClass
    {
        get
        {
            if (Context.IsDisabled)
            {
                return Value ? "dp-checkbox-square-on-disabled" : "dp-checkbox-square-off-disabled";
            }

            return Value ? "dp-checkbox-square-on" : "dp-checkbox-square-off";
        }
    }

    private string CaptionClass
    {
        get
        {
            var captionClass = Context.IsDisabled ? "dp-caption-disabled" : "dp-caption";

            if (IsBorderless == false)
            {
                return captionClass + " px-3";
            }

            if (IsBorderless == true || string.IsNullOrWhiteSpace(Label))
            {
                return captionClass;
            }

            return captionClass + " -sm:px-3";
        }
    }

    private string WidthClass
    {
        get
        {
            if (IsFullWidth == true)
            {
                return "w-full min-w-fit";
            }

            if (IsFullWidth == false || string.IsNullOrWhiteSpace(Label))
            {
                return "w-fit";
            }

            return "w-full sm:w-fit min-w-fit";
        }
    }

    private async Task InvokeValueChangedAsync()
    {
        if (!Context.IsDisabled && ValueChanged.HasDelegate)
        {
            await ValueChanged.InvokeAsync(Value);
        }
    }
}
