@typeparam T

<label for="@_id" class="group @LabelClass @BorderClass @WidthClass">
    <input id="@_id" type="checkbox" value="@IsSelected" disabled="@ActualIsDisabled" hidden @onchange="OnChangeAsync" />
    <div class="group @CircleClass">
        <div class="@DotClass" />
    </div>
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <span>@Label</span>
    }
</label>

@code {
    private readonly string _id = Random.Shared.Next().ToString();

    [CascadingParameter]
    public DPRadioGroup<T>? RadioGroup { get; set; }

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public T? Value { get; set; }

    [Parameter]
    public bool? IsBorderless { get; set; }

    [Parameter]
    public bool? IsFullWidth { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    private bool IsSelected => RadioGroup != null && EqualityComparer<T>.Default.Equals(Value, RadioGroup.Value);

    private bool ActualIsDisabled => IsDisabled || RadioGroup?.IsDisabled == true;

    private string LabelClass => ActualIsDisabled ? "radio-label-disabled" : "radio-label-enabled";

    private string BorderClass
    {
        get
        {
            if (IsBorderless == false)
            {
                return IsDisabled ? "frame-disabled" : "frame-enabled";
            }

            if (IsBorderless == true || string.IsNullOrWhiteSpace(Label))
            {
                return string.Empty;
            }

            return IsDisabled ? "-sm:frame-disabled" : "-sm:frame-enabled";
        }
    }

    private string CircleClass
    {
        get
        {
            if (ActualIsDisabled)
            {
                return IsSelected ? "radio-container-disabled-on" : "radio-container-disabled-off";
            }

            return IsSelected ? "radio-container-on" : "radio-container-off";
        }
    }

    private string DotClass
    {
        get
        {
            if (ActualIsDisabled)
            {
                return IsSelected ? "radio-dot-disabled-on" : "radio-dot-disabled-off";
            }

            return IsSelected ? "radio-dot-on" : "radio-dot-off";
        }
    }

    private string WidthClass
    {
        get
        {
            if (IsFullWidth == true)
            {
                return "w-full";
            }

            if (IsFullWidth == false || string.IsNullOrWhiteSpace(Label))
            {
                return "w-fit";
            }

            return "w-full sm:w-fit";
        }
    }

    private async Task OnChangeAsync()
    {
        if (RadioGroup != null && !ActualIsDisabled)
        {
            await RadioGroup.UpdateValueAsync(Value);
        }
    }
}
