@implements ITaggable

<div class="@ContainerClass">
    <div class="@PromptClass">
        <div class="not-sm:hidden">
            <DPParagraph><b>Warning</b> — You have unsaved changes!</DPParagraph>
        </div>
        <div class="flex items-center space-x-4 not-sm:justify-between not-sm:w-full">
            <DPButton Style="@ButtonStyle.Borderless" IsDisabled="@IsSavePending" Clicked="OnDiscardClicked">Discard</DPButton>
            <DPButton Style="@ButtonStyle.Accent" IsLoading="@IsSavePending" Clicked="OnSaveClicked">Save Changes</DPButton>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public bool IsSavePending { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public EventCallback SaveClicked { get; set; }

    [Parameter]
    public EventCallback DiscardClicked { get; set; }

    [Parameter]
    public object? Tag { get; set; }

    [CascadingParameter]
    private UIContext ParentContext { get; set; } = new();

    private UIContext Context => ParentContext with { IsDisabled = ParentContext.IsDisabled || !IsVisible || IsDisabled };

    private string ContainerClass => Context.IsDisabled ? "dp-save-prompt-container-hidden" : "dp-save-prompt-container";

    private string PromptClass => Context.IsDisabled ? "dp-save-prompt-hidden" : "dp-save-prompt";

    private async Task OnSaveClicked()
    {
        if (!Context.IsDisabled && !IsSavePending && SaveClicked.HasDelegate)
        {
            await SaveClicked.InvokeAsync();
        }
    }

    private async Task OnDiscardClicked()
    {
        if (!Context.IsDisabled && DiscardClicked.HasDelegate)
        {
            await DiscardClicked.InvokeAsync();
        }
    }
}
