@typeparam T

@if (Data == null)
{
    return;
}

<table class="table-auto">
    <thead>
        <tr>
            @if (Column1 != null)
            {
                <th>@Column1</th>
            }
            else if (Column2 != null || Column3 != null || Column4 != null || Column5 != null)
            {
                <th>@string.Empty</th>
            }
            @if (Column2 != null)
            {
                <th>@Column2</th>
            }
            else if (Column3 != null || Column4 != null || Column5 != null)
            {
                <th>@string.Empty</th>
            }
            @if (Column3 != null)
            {
                <th>@Column3</th>
            }
            else if (Column4 != null || Column5 != null)
            {
                <th>@string.Empty</th>
            }
            @if (Column4 != null)
            {
                <th>@Column4</th>
            }
            else if (Column5 != null)
            {
                <th>@string.Empty</th>
            }
            @if (Column5 != null)
            {
                <th>@Column5</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Data)
        {
            <tr>
                @if (row is I1ColumnRepresentable representable1)
                {
                    <td>@representable1.Column1</td>
                }
                @if (row is I2ColumnRepresentable representable2)
                {
                    <td>@representable2.Column2</td>
                }
                @if (row is I3ColumnRepresentable representable3)
                {
                    <td>@representable3.Column3</td>
                }
                @if (row is I4ColumnRepresentable representable4)
                {
                    <td>@representable4.Column4</td>
                }
                @if (row is I5ColumnRepresentable representable5)
                {
                    <td>@representable5.Column5</td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string? Column1 { get; set; }

    [Parameter]
    public string? Column2 { get; set; }

    [Parameter]
    public string? Column3 { get; set; }

    [Parameter]
    public string? Column4 { get; set; }

    [Parameter]
    public string? Column5 { get; set; }

    [Parameter]
    public IEnumerable<T>? Data { get; set; }

    [Parameter]
    public object? Tag { get; set; }
}
