<label for="@_id" class="@LabelClass @BorderClass @WidthClass">
    <input id="@_id" type="checkbox" disabled="@IsDisabled" hidden @bind="InternalValue" />
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <span>@Label</span>
    }
    <div class="group @PillClass">
        <div class="@DotClass sm:hidden" style="transform: translateX(@(Value ? "110%" : "15%"));" />
        <div class="@DotClass -sm:hidden" style="transform: translateX(@(Value ? "140%" : "25%"));" />
    </div>
</label>

@code {
    private readonly string _id = Random.Shared.Next().ToString();

    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    [Parameter]
    public bool? IsBorderless { get; set; }

    [Parameter]
    public bool? IsFullWidth { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public object? Tag { get; set; }

    private bool InternalValue
    {
        get => Value;
        set
        {
            if (!IsDisabled && Value != value)
            {
                Value = value;

                if (ValueChanged.HasDelegate)
                {
                    ValueChanged.InvokeAsync(value);
                }
            }
        }
    }

    private string LabelClass => IsDisabled ? "dp-switch-disabled group" : "dp-switch group";

    private string BorderClass
    {
        get
        {
            if (IsBorderless == false)
            {
                return IsDisabled ? "dp-border-disabled" : "dp-border";
            }

            if (IsBorderless == true || string.IsNullOrWhiteSpace(Label))
            {
                return string.Empty;
            }

            return IsDisabled ? "-sm:dp-border-disabled" : "-sm:dp-border";
        }
    }

    private string PillClass
    {
        get
        {
            if (IsDisabled)
            {
                return "dp-switch-pill-disabled";
            }

            return Value ? "dp-switch-pill-on" : "dp-switch-pill-off";
        }
    }

    private string DotClass
    {
        get
        {
            if (IsDisabled)
            {
                return "dp-switch-dot-disabled";
            }

            return Value ? "dp-switch-dot-on" : "dp-switch-dot-off";
        }
    }

    private string WidthClass
    {
        get
        {
            if (IsFullWidth == true)
            {
                return "w-full";
            }

            if (IsFullWidth == false || string.IsNullOrWhiteSpace(Label))
            {
                return "w-fit";
            }

            return "w-full sm:w-fit";
        }
    }
}
